Source: evilwm
Maintainer: Ciaran Anscomb <evilwm@6809.org.uk>
Section: x11
Priority: optional
Build-Depends: debhelper (>= 5), x11proto-core-dev, libx11-dev, x11proto-xext-dev, libxrandr-dev
Standards-Version: 3.8.3
Homepage: http://www.6809.org.uk/evilwm/

Package: evilwm
Architecture: any
Depends: ${shlibs:Depends}
Description: a minimalist window manager for X11
 evilwm is based on aewm by Decklin Foster.  It further maximises screen
 real-estate and provides a good set of keyboard controls.
