[Desktop Entry]
Type=Application
Name=evilwm
Exec=evilwm
NoDisplay=false
X-GNOME-WMName=evilwm
# evilwm doesn't talk XSMP yet, so don't start in the WindowManager phase:
X-GNOME-Autostart-Phase=Applications
X-GNOME-Provides=windowmanager
